.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px 16px 0;
    float: left;
}
@gray: rgb(230,230,230);
@darkGray:#D2D2D2;

#root,
.ant-layout,
body,
html {
    height: 100%;
}

#root {
    .ant-btn-primary {
        background: #5C6BC0;
    }

    .ant-tag-checkable {
        background: #fff;
        border-radius: 2px;
        &.ant-tag-checkable-checked{
            background:#1890ff;
        }
    }

    .header {
        background: #5A66C6;

        .topNav {
            background: inherit;
            color: #fff;
        }

        .ant-menu-item-active,
        .ant-menu-item-selected {
            color: #fff;
            border-bottom: #fff;
            background: #505BB1;
        }

        .ant-btn-primary {
            background: #5C6BC0;
        }
    }
}

.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > a:hover {
    color: inherit;
}

.ant-menu-horizontal > .ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
    color: inherit;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #2A3139;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    position: relative;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected::before {
    display: block;
    content: '';
    width: 4px;
    height: 14px;
    border-radius: 3px;
    background: #F5A640;
    position: absolute;
    top: 50%;
    transform: translate(-10px, -50%);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: #1E2329;
}

.ant-menu.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2A3139;
}

.main {
    margin: 24px;
    border-radius: 3px;
    background: #fff;
    border:1px solid @gray;
    box-shadow:0 0 3px 0 #ddd;
}

.contentWrap {
    .topBox {
        padding: 18px 20px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;

        .customerList {
            font-size: 18px;
            font-weight: bold;
            padding-right: 14px;
        }

        .filterHandler {
            border-left: 1px solid @gray;
            padding-left: 14px;
            position: relative;
            height: 16px;
            span{
                color: #FFA102;
                cursor:pointer;
                user-select: none;
            }
            .filterbox{
                width:400px;
                max-height: 400px;
                position:absolute;
                z-index:10;
                background:#fff;
                border-radius:3px;
                border:1px solid @gray;
                box-shadow:0 0 3px 0 #ddd;
                padding:10px;
                display: none;
                transform:translateY(15px);
                user-select: none;
                &.active{
                    display: block;
                }
                & > div{
                    padding-bottom:8px;
                    margin-bottom:8px;
                    border-bottom:1px solid @gray;
                }
                .title{
                    position:relative;
                    padding-left:8px;
                    &::before{
                        content:'.';
                        position:absolute;
                        left:0;
                        font-size:18px;
                        transform:translateY(-30%);
                    }
                }
                .ant-tag{
                    border:none;
                }
            }
        }

        .filterHandler::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 0;
            width: 0;
        }

        .searchBox {
            margin: 0 auto 0 15px;
        }

        .searchBox .ant-input {
            border-radius: 15px;
        }

        .filterItem {
            display: flex;
            padding: 0 10px 2px 0;
            .category {
                color: #BCBCBC;
                font-size: 14px;
            }
        }
    }
}

.yptable {
    .ant-table-pagination.ant-pagination{
        margin:16px 8px;
    }
    .ant-table-thead > tr > th {
        background-color: #F4F5FA;
        // border: 1px solid @gray;
        border-right: none;

        &:last-child {
            // border-right: 1px solid @gray;
        }
    }
}

#docker{
    width:600px;
    border:1px solid #ccc;
    position:absolute;
    height:100%;
    right:0;
    top:0;
    display: none;
    transform:translateX(100%);
    transition:transform .5s ease;
    &.open{
        transform:translateX(0);
    }
    .dockerContent{
        background:#F4F4F6;
        height:100%;
        padding:8px 10px;
        .header{
            display: flex;
            align-items: center;
            .icon{
                color:#fff;
                background:@darkGray;
                font-size:25px;
                height:30px;
                width:30px;
                border-radius:50%;
                text-align:center;
                margin-right:10px;
            }

            .text{
                font-weight:bold;
            }

            .operation{
                margin-left:auto;
                position:relative;
                .heart{
                    width:60px;
                    height:60px;
                    position:absolute;
                    // background: url(../../static/images/web_heart_animation.png);
                    background-size:2900%;
                    background-position:left;
                    transform:translate(-50%,-50%);
                }

                .close{
                    cursor:pointer;
                }
            }
        }

        .formcontainer{
            .ant-form-item-label{
                text-align: left;
            }
            .fullLine{
                width:100%;
            }

            padding:22px 16px;
            background:#fff;
            border:1px solid #D3D3D3;
            .ant-form-item{
                padding:5px 0;
            }
            border-radius:3px;
        }

        .recordContainer{
            margin-top:20px;
            background:#fff;
            border:1px solid #D3D3D3;
            border-radius:3px;
            padding-top:1px;

            .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
                margin-right:0;
                border-radius:0;
                border:none;
                border-right:1px solid #e8e8e8;
            }

            .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
                color:#FFA102;
                border-bottom:1px solid #fff;
            }
        }

        .createCustomer{
            padding-top:22px;
            input::placeholder{
                color:#555;
            }

        }

        .darkGray{
            background:@darkGray;
            border:none;
            height:30px;
        }
    }

    ul.timeline{
        list-style:none;
        padding:35px;
        &>li{
            display:flex;
            .line{
                width:1px;
                margin:0.8em 8px 0 5px;
                background:@gray;
                &::before{
                    content:' ';
                    display: block;
                    width:14px;
                    height:14px;
                    border-radius:50%;
                    border:2px solid #fff;
                    background:#FFA102;
                    transform:translate(-50%,-50%);
                }
            }

            .time{
                width:100px;
            }

            p.content{
                color:@darkGray;
            }
            p.details{
                background:@gray;
                padding:8px;
                border-radius:2px;
            }
        }
    }

}
