.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}

html,body,#root,.ant-layout{
	height:100%;
}

#root .header{
	background:#5A66C6;
}

#root .header .topNav{
	background:inherit;
	color:#fff;
}

#root .header .ant-menu-item-selected,#root .header .ant-menu-item-active{
	color:#fff;
	border-bottom:#fff;
	background: #505BB1;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
	background:#2A3139;
}



.ant-menu.ant-menu-dark .ant-menu-item-selected{
	position:relative;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected::before{
	display: block;
	content:'';
	width:4px;
	height:14px;
	border-radius:3px;
	background:#F5A640;
	position:absolute;
	top:50%;
	transform:translate(-10px,-50%);
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
	background:#1E2329;
}

.ant-menu.ant-menu-dark .ant-menu-inline.ant-menu-sub{
	background:#2A3139;
}