.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, .2);
    margin: 16px 28px 16px 0;
    float: left;
}
@gray: rgb(230,230,230);

#root,
.ant-layout,
body,
html {
    height: 100%;
}

#root {
    .ant-btn-primary {
        background: #5C6BC0;
    }

    .ant-tag {
        background: #fff;
        border-radius: 2px;
    }

    .header {
        background: #5A66C6;

        .topNav {
            background: inherit;
            color: #fff;
        }

        .ant-menu-item-active,
        .ant-menu-item-selected {
            color: #fff;
            border-bottom: #fff;
            background: #505BB1;
        }

        .ant-btn-primary {
            background: #5C6BC0;
        }
    }
}

.ant-menu-horizontal > .ant-menu-item > a:hover,
.ant-menu-horizontal > .ant-menu-submenu > a:hover {
    color: inherit;
}

.ant-menu-horizontal > .ant-menu-item > a,
.ant-menu-horizontal > .ant-menu-submenu > a {
    color: inherit;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #2A3139;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    position: relative;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected::before {
    display: block;
    content: '';
    width: 4px;
    height: 14px;
    border-radius: 3px;
    background: #F5A640;
    position: absolute;
    top: 50%;
    transform: translate(-10px, -50%);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: #1E2329;
}

.ant-menu.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: #2A3139;
}

.main {
    margin: 24px;
    border-radius: 3px;
    background: #fff;
    border:1px solid @gray;
    box-shadow:0 0 3px 0 #ddd;
}

.contentWrap {
    .topBox {
        padding: 18px 20px;
        display: flex;
        align-items: center;
        flex-flow: row wrap;

        .customerList {
            font-size: 18px;
            font-weight: bold;
            padding-right: 14px;
        }

        .filterHandler {
            border-left: 1px solid @gray;
            padding-left: 14px;
            color: #FFA102;
            position: relative;
            height: 16px;
            .filterbox{
                width:400px;
                max-height: 400px;
                position:absolute;
                z-index:10;
                background:#fff;
                border-radius:3px;
                border:1px solid @gray;
                box-shadow:0 0 3px 0 #ddd;
                padding:10px;
                transform:translateY(15px);
                .title{
                
                }
                .ant-tag{
                    border:none;
                }
            }
        }

        .filterHandler::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 0;
            width: 0;
        }

        .searchBox {
            margin: 0 auto 0 15px;
        }

        .searchBox .ant-input {
            border-radius: 15px;
        }

        .filterItem {
            display: flex;
            padding: 0 10px 2px 0;
            .category {
                color: #BCBCBC;
                font-size: 14px;
            }
        }
    }
}

.yptable {
    .ant-table-pagination.ant-pagination{
        margin:16px 8px;
    }
    .ant-table-thead > tr > th {
        background-color: #F4F5FA;
        border: 1px solid @gray;
        border-right: none;

        &:last-child {
            border-right: 1px solid @gray;
        }
    }
}
